<!--Home View-->
<div id="tabstrip-home"
    data-role="view"
    data-title="Home"
    data-model="app.homeService.viewModel"
    data-show="app.homeService.viewModel.onShow">
    
	<header data-role="header" data-id="jitterz-default-header">
		<div data-role="navbar">
			<a data-role="button" data-align="left" data-icon="refresh" data-bind="click: onReload"></a>
			<span data-role="view-title"></span>
		</div>
	</header>
    
    
	<ul data-role="listview" id="posts-listview" 
		data-style="inset" data-template="posts-listview-template" data-bind="source: posts">
	</ul>    
    
	<script id="posts-listview-template" type="text/x-kendo-template">
    	<a  href='views/postDetails.html'>
            <div>
                <div><span>#:username#</span><span>&nbsp;on&nbsp;</span><span>#:kendo.toString(date, "d")#</span></div>
            	<div><span>#:title#</span></div>
            	<div><span>#:description#</span></div>
        	</div>
        </a>
	</script>
</div>