<!-- this empty view is needed by kendo -->
<div data-role="view">
</div>

<div data-role="layout" data-id="tabstrip-layout" id="main-tabstrip-layout">
    <!--Header-->
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>

    <!--Footer-->
    <div data-role="footer">
        <div data-role="tabstrip" id="main-tabstrip">
            <a href="views/home.html" data-icon="home">Home</a>
            <a href="views/record.html" data-icon="contacts">Record</a>
        </div>
    </div>
</div>
