<div id="post-details-view"
    data-role="view"
    data-title="Trip Details"
    data-init="app.postDetailsService.viewModel.initLocation"
    data-show="app.postDetailsService.viewModel.show"
    data-hide="app.postDetailsService.viewModel.hide"
    data-model="app.postDetailsService.viewModel"
    data-stretch="true">

	<header data-role="header" data-id="jitterz-default-header">
		<div data-role="navbar">
			<a class="nav-button" data-role="backbutton" data-align="left">Back</a>
			<span data-role="view-title"></span>
		</div>
	</header>
    
    <div>
        <div><span data-bind="text: username"></span><span>&nbsp;on&nbsp;</span><span data-bind="text: date"></span></div>
        <div><span data-bind="text: title"></span></div>
        <div><span data-bind="text: description"></span></div>
	</div>
    
    <div id="map-canvas" class="map" data-bind="visible: isGoogleMapsInitialized"></div>

    <div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
        <h3>Location requires internet connection to display the map.</h3>
    </div>
    
</div>